<p id="notice"><%= notice %></p>

<h1>Products</h1>

<!-- <table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Image url</th>
      <th>Color</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.image_url %></td>
        <td><%= product.color %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

    <% @products.each do |product| %>
      <tr>
        <td class="col-sm-2 col-md-4"> 
          <a> <%= product.image_url %> </a> <br>
          <b><u><%= product.name %></u></b> <br>
          <%= product.description %> <br> 
          <%= product.color %> <br>
          <%= link_to 'Show', product %>
          <%= link_to 'Edit', edit_product_path(product) %>
          <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %> -->

<div class="container-fluid" >
  <div class="row">
    <% @products.each do |product| %>
       <div class=" product col-md-3 col-xs-12">
        <% if product.image_url %>
          <%= image_tag(product.image_url, class: "img-responsive") %>
        <% end %>
        <h2><%= product.name %></h2>
        <p><%= product.description %></p>
        <strong><%= product.color %></strong> <br>
        <%= link_to 'Show', product %>
        <%= link_to 'Edit', edit_product_path(product) %>
        <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div><!-- /col -->
    <% end %>
  </div>
</div>

<br>

<%= link_to 'New Product', new_product_path %>
