<% cache @product do %>

<!-- <p id="notice"><%= notice %></p> -->

<h3>Detailed Productinformation</h3>


<div class="row" data-product-id="<%= @product.id %>">
	<div class="col-lg-12 col-xs-12"><%= image_tag(@product.image_url, width: "350", class: "img-zoom img-responsive", data_zoom_image: @product.image_url) %></div>
	
<div class="col-lg-12 col-xs-12">
	<div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>
</div>

<div class="col-lg-6 col-xs-12">
	<p>
	  <strong>Name</strong><br>
	  <%= @product.name %>
	</p>

	<p>
	  <strong>Description</strong><br>
	  <%= @product.description %>
	</p>

	<p>
	  <strong>Color</strong><br>
	  <%= @product.color %>
	</p>

	<p>
	  <strong>Price</strong>
	  <%= number_to_currency(@product.price) %>
	</p>

	<p>
		<strong>Average Rating</strong>
		<div id="average-rating" class="rated" data-score="<%= @product.average_rating %>"></div> 
	</p>

	<p>
		<strong>Highest Comment</strong><br>
		<%= @product.highest_rating_comment.try(:body) %>
	</p>

	<%= form_tag "/payments/create" do %>
		<%= hidden_field_tag(:product_id, @product.id) %>
		<%= render partial: "shared/stripe_checkout_button" %>
	<% end %><br><br>


	<%= link_to 'Edit', edit_product_path(@product) %>|
	<%= link_to 'Back', products_path %>
<% end %>
</div>

<!-- _new_comment.html.erb -->
<div class="col-lg-6 col-xs-12">
	<% if signed_in? %>
<p>Last Comments</p>
  <h4>Add a review:</h4>
  <%= form_for([@product, @product.comments.build], remote: true) do |f| %>
    <p>
      <%= f.label :body, "Comments" %><br>
      <%= f.text_area :body %>
    </p>

    <p>
    	<div class="rating"></div>
	</p>

    <p>
      <%= f.submit "Submit" %>
    </p>
  <% end %>
<% end %>


	<!--  _comments.html.erb -->
	<div class="product-reviews">
		<p><strong>Latest Commets</strong></p>
	    <% @comments.each do |comment| %>
	        <div class="row">
	            <hr><div class="rated" data-score="<%= comment.rating %>"></div>
	            <p><%= comment.user.first_name %> <small><em><%= "#{time_ago_in_words(comment.created_at)} ago" %></em></small>
    			<% if signed_in? && current_user.admin? %>
       			<%= link_to ('<span class="glyphicon glyphicon-remove"></span>').html_safe, product_comment_path(comment.product, comment), method: :delete, data: { confirm: 'Are you sure?' } %>
    			<% end %></p>
	            <p><%= "Rating: #{comment.rating}/5" %></p>
	            <p><%= comment.body %></p>
	        </div>
	    <% end %>
		<%= will_paginate @comments %>
	</div>
</div>

